{% block stylesheets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
        .dropdown-content{
            max-height: none;
        }
        .datepicker-modal{
            max-height: fit-content;
        }
        .datepicker-date-display{
            background-color: #B6A575;
        }
        .tp-caption.boxshadow, .boxshadow {
            box-shadow: 0 0 0px rgb(0 0 0)!important;
        }
    </style>

{% endblock %}

{{ form_start(form) }}

    <section class="section-padding">
        <div class="container">
            <div class="row">
                {# <h3 class="text-extrabold center">Your personal informations</h3> #}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="input-field">
                        <i class="material-icons prefix">person_pin</i>
                        {{ form_widget(form.titleJob) }}
                        {{ form_label(form.titleJob, 'Job Title') }}
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="input-field">
                        {{ form_label(form.salary) }}
                        {{ form_widget(form.salary) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="input-field">
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="input-field">
                        {{ form_widget(form.isVisible) }}
                        {{ form_label(form.isVisible, 'Do you want your job offer to be visible?') }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-field">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr': {'type' : 'textarea', 'id' : 'textarea2', 'class' : 'materialize-textarea'}}) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-field">
                        {{ form_widget(form.expiredAt, {'attr': {'class' : 'datepicker'}})}}
                        {{ form_label(form.expiredAt) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-field">
                        {{ form_widget(form.category) }}
                        {{ form_label(form.category) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-field">
                        {{ form_widget(form.type) }}
                        {{ form_label(form.type, 'Time Type') }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-field">
                        {{ form_widget(form.client) }}
                        {{ form_label(form.client) }}
                    </div>
                </div>
            </div>
            
        </div>

    </section>
    

    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

 
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
    <script>
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd' });
    </script>

{% endblock %}