{% extends 'base.html.twig' %}

{% block body %}


    <!-- Page Header-->
    <section class="page-title page-index-admin fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="white-text">List of application</h2>
                    <span class="white-text">All the candidate that have applied</span>
                    <ol class="breadcrumb">
                        <li><a href="{{ path ('home') }}">Home</a></li>
                        <li class="active">Application</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>AppliedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.id }}</td>
                    <td>{{ application.appliedAt ? application.appliedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a style="width:14rem" class="btn brown lighten-2" href="{{ path('admin_application_show', {'id': application.id}) }}">show</a>
                        <a style="width:14rem" class="btn brown lighten-1" href="{{ path('job_offer_edit', {'id': application.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">

        <a class="btn red lighten-2" href="{{ path('admin') }}"><i class="material-icons prefix">arrow_back</i> Back to Admin Dashboard</a>
        {# <a href="{{ path('application_new') }}">Create new</a> #}
    </div>

{% endblock %}
