{% extends 'base.html.twig' %}

{% block body %}

    <section class="page-title page-index-admin fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="white-text">{{ client.societyName }}</h2>
                    <span class="white-text">Professionanl & contact informations</span>
                    <ol class="breadcrumb">
                        <li><a href="{{ path ('home') }}">Home</a></li>
                        <li class="active">Customer</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <table class="table striped centered responsive-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ client.id }}</td>
                </tr>
                <tr>
                    <th>SocietyName</th>
                    <td>{{ client.societyName }}</td>
                </tr>
                <tr>
                    <th>MailContact</th>
                    <td>{{ client.mailContact }}</td>
                </tr>
                <tr>
                    <th>PhoneNumberContact</th>
                    <td>{{ client.phoneNumberContact }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>ActivityType</th>
                    <td>{{ client.activityType }}</td>
                </tr>

                {% if info_admin_client %}
                    <tr>
                        <th>Comment</th>
                        <td>{{ info_admin_client.notes }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>


    <div class="row center">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a class="btn gradient secondary waves-effect waves-light" href="{{ path('customerList', {'id': client.id}) }}"><i class="material-icons prefix">arrow_back</i> back to list</a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-4">
            <a class="btn gradient secondary waves-effect waves-light" href="{{ path('user_edit',   {'id': user.id}) }}">edit the profile</a> 

            {% if info_admin_client == false %}

                <a class="btn gradient secondary waves-effect waves-light" href="{{ path('info_admin_client_new', {'id' : client.id}) }}">Add a comment</a>

                {% else %}

                <a class="btn gradient secondary waves-effect waves-light" href="{{ path('info_admin_client_edit', {'id' : client.infoAdminClient.id}) }}">Edit your comment</a>

            {% endif %}

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-4">
            {{ include('client/_delete_form.html.twig') }}
        </div>
    </div>
   
   
{% endblock %}