{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    {# <a href="{{ path('user_index') }}">back to list</a> #}

    <div class="base">

        <!-- Page -->
        <div class="page">

            <!-- Page Header-->
            <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="white-text">Your profile</h2>
                            <span class="white-text">Personnal & Professionnal informations</span>
                            <ol class="breadcrumb">
                                <li><a href="{{ path ('home') }}">Home</a></li>
                                <li class="active">Profile</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            {% set inputCount = 0 %}

            {% for data in dataCandidat %}

                {% if data != null %}

                    {% set inputCount = inputCount + 1 %}

                {% endif %}

            {% endfor %}

            {% set pourcentageCompleted = inputCount * 100 / dataLength %}

            <!-- Page Content-->
            <section class="gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="score-container">

                            {% if pourcentageCompleted == 100 %}

                                <h4>Your Profile is completed</h4>
                                <div class="c100 p{{ pourcentageCompleted|round }} small complete ">
                                    <span>{{ pourcentageCompleted|round }}%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>

                                {% else %}
                                <h4>Your Profile is uncomplete</h4>
                                <div class="c100 p{{ pourcentageCompleted|round }} small complete ">
                                    <span>{{ pourcentageCompleted|round }}%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                                
                            {% endif %}

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>

                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                {# {{ include('user/_form.html.twig', {'button_label': 'Save'}) }} #}
        </div>

    </div>

    {% block javascripts %}
        <script type="text/javascript">

            onAppReady(function() {
                $('.preload').remove();
            });
        </script>

    {% endblock %}
    
{% endblock %}
